<div class="container">
 <%= erb :_nav_bar %>
</div>

<div class="bottom_background"></div>

<div class="bottom">
  <div class="all_songs"><br><br>
    <% @songs.each do |song| %>
      <a href="/songs/<%= song.id %>"><img src="<%= song.album_art %>"/></a>
      <%= song.title %>
    <% end %>
  </div>

</div>