.container {
  position: absolute;
  height:13%;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background-image: url("nav_img.png") ;
  background-size:100%;
  font-family: 'Rock Salt', cursive;
  color:black;
  font-weight: Bold;
  font-size: 0.5em;
}


span{
  color:#FFFFF;
}

th {
  text-align: left;
}

#button{
  color:red;
  border-radius: 15%;
  background-color:#FFFFFF;
}

.bottom{
  position: absolute;
  bottom:0;
  height:82%;
  width:100%;
  font-family: 'Rock Salt', cursive;
  background-image: url("bottom_img.png") ;
  font-size: 0.5em;
  background-size:100%;
  opacity: 0.3;
}

a{
  text-decoration: none;
  color:black;
}

img {
  height:50px;
  width:50px;
}