.container {
  position: absolute;
  height:13%;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background-image: url("nav_img.png") ;
  background-size:100%;
  font-family: 'Rock Salt', cursive;
  color:black;
  font-weight: Bold;
  font-size: 0.5em;
}

th {
  text-align: left;
}

#button{
  color:red;
  border-radius: 15%;
  background-color:#FFFFFF;
}

.bottom{
  position: absolute;
  bottom:0;
  height:82%;
  width:100%;
  font-family: 'Rock Salt', cursive;
  font-size: 0.5em;
  text-align: center;
}

.bottom_background{
  position: absolute;
  bottom:0;
  height:82%;
  width:100%;
  background-image: url("bottom_img.png") ;
  background-size:100%;
  opacity: 0.3;
}

h1{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:black;
}

img {
  height:50px;
  width:50px;
}

.song{
  display: none;
}

.playlist{
  display: inline-block;
  width: 20%;
}
.song a{
  color:red;
}

.all_playlists{
  text-align: center;
}

.edit_form{
  display:none;
}

span {
  color:red;
}