<% if playlist.user == current_user %>
  <form action="/playlists/<%= playlist.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete This Playlist" id="button">
  </form>

  <form action="/playlists/<%= playlist.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">
    Edit Title:
      <input name="playlist[name]" type="text" value="<%= playlist.name %>">
      <input type="submit" value="Change your playlist name" id="button"><br>
  </form>
<% else %>
<% end %>