<div class="container">
  <%= erb :nav_bar %>
</div>

<div class="bottom">
  <div class="all_playlists"><br><br>
  <% @playlists.each do |playlist| %>
    <a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a> ---
  <% end %>
  </div>

</div>