<div class="container">
  <div class="box">
    Welcome: <%= current_user.username %><br><br>
    <a href='/playlists/all' id="all_playlists_link">All Playlists</a> | My Playlists
  </div>
</div>

<div class="bottom">
  <div class="all_playlists"><br><br>
  <% @playlists.each do |playlist| %>
    <a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a> ---
  <% end %>
  </div>

</div>