<div class="container">
  <div class="box">
      Welcome: <%= current_user.username %><br><br>
    <a href='/playlists/all' id="all_playlists_link">All Playlists</a> | <a href='/my_playlists' id="all_playlists_link">My Playlists</a>
  </div>
</div>

<div class="bottom">
  <div class="all_songs"><br><br>
  <% @songs.each do |song| %>
    <a href="/songs/<%= song.id %>"><img src="<%= song.album_art %>"/></a> ---
  <% end %>
  </div>

</div>