<div class="container">
  <div class="box">
    Login | <a href="/signup" id="signup">Signup</a><br><br>
    <form action="/login" method="POST">

    <%= login_error %>

    Username:
    <input type="text" name="user[username]">
   <span> Password:</span>
    <input type="password" name="user[password]">
    <input type="submit" value="Login!" id="button">
    </form>
  </div>
</div>

<div class="bottom_background"></div>
<div class="bottom">

</div>