<div class="box">
    Welcome: <%= current_user.username %><br><br>
    <a href='/playlists/all' id="all_playlists_link">All Playlists</a> | <a href='/my_playlists' id="my_playlists_link">My Playlists</a> | <a href='/my_songs' id="my_songs_link">My Songs</a>
</div>